@model IEnumerable<FormClean.Application.DTOs.DemandedDTO>

@{
    ViewData["Title"] = "Pedidos";
}

<div>
    <h2 id="titulo-create-demanded">@ViewData["Title"]</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="VerifyClientExists" class="btn btn-primary">
                    <span title="Cadastrar Pedido" class="fas fa-plus"></span> Cadastrar Pedido
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <div id="form-create-demanded" class="container-fluid col-12">
        <div class="row align-items-center gx-5">
            <table id="table" class="table table-bordered cell-border">
                <thead class="table-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Client)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeliveryDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DemandedStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentStatus)
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DemandedStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                R$ @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                            </td>
                            <td>
                                <div class="row align-items-center gx-5">
                                    <div class="col-md-6">
                                        <a id="icon-detail" asp-action="Details" asp-route-id="@item.Id" title="Details" class="bi bi-search">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a id="icon-delete" asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="bi bi-x-square">
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>